
        .mysmalltext {
            font-size: 0.7em;
            color: #f0cd97;
        }

        .unselectable-text {
            user-select: none;
        }

        .tools {
            display: none;
        }

        h3 {
            margin: 0px;
            margin-top: 4px;
            /* margin-bottom: -8px !important; */
        }

        .openclose {
            width: 94.5% !important;
            margin-left: 2%;
            color: #fff;
            padding-left: 1%;
            cursor: pointer;
            margin-bottom: 6px;
            margin-top: 6px;
            font-size: 1.2rem;
            border-bottom: 1px solid #ccc;
            padding-top: 0px;
            padding-bottom: 2px;
        }

        h3 {
            font-weight: normal;
        }

        .showthepreviewimage,
        .showthepreviewimage2 {
            opacity: 0.5;
            cursor: pointer;
            pointer-events: none;
        }

        .myindicator {
            color: #fff;
        }

        .simplelayout {
            width: 95%;
            float: left;
            line-height: 40px;
            text-align: center;
            border: 1px solid #ccc;
            margin-top: 10px;
            border-radius: 10px;
            background-color: #666;
            cursor: pointer;
            display: none !important;
        }

        .showthepreviewimage:hover {
            opacity: 0.5;
        }

        .mybuttonclass {
            width: 50%;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1rem;
            line-height: 30px;
            cursor: pointer;
            background-color: #333;
        }

        .mybuttonclass:hover {
            background-color: #666;
        }

        .mymobile .width100c {
            width: 99% !important;
        }





        .promo16c {
            width: 10%;
            float: left;
            margin-right: 1.25%;
            text-align: center;
            line-height: 0;
            padding-bottom: 14px;
            color: #f0cd97;
        }

        .promo16c img {
            width: 100%;
        }

        .promo16c span {
            font-size: 0.5rem;
            text-align: center;
            line-height: 2px;
        }


        .mymobile .width50c2 {
            width: 100% !important;
        }

        .mymobile .width50c3 {
            width: 49% !important;
        }

        video {
            width: 100%;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            line-height: 24px;

        }

        .prod100 {
            width: 90%;
            margin-left: 5%;
            background-color: rgb(37, 37, 37);

            padding: 10px;
            float: left;
            position: relative;
            color: #fff;

        }

        input {
            width: 50%;
            font-size: 1rem;

        }

        .promo20 {
            width: 18%;
            float: left;
            background-color: #fff;
            min-height: 500px;

        }

        #content2 {
            width: 70%;
        }


        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999;
        }

        .modal-content {
            background-color: #000;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 500px;
            text-align: center;
            color: #fff;
        }


        #cinput3a {
            width: 98%;
            min-height: 130px;
            font-size: 1rem;
        }

        .layout2 {
            display: none;
        }

        button,
        select {
            font-size: 1rem;
        }




        .selectall {
            cursor: pointer;
            font-size: 0.8rem;
            line-height: normal;
            font-weight: 100;
        }

        body {
            background-color: #333;
        }

        #myCheckbox {
            zoom: 2;
            padding-top: 10px;

        }

        .promo50 {
            width: 50%;
            float: left;
        }

        button {
            background-color: #fff;
            color: #000;
            border-radius: 0px;
            border: 0px;
            cursor: pointer;
        }

        button:hover {
            background-color: #f7f7f7;
            color: #000;
            border: 1px solid #000;
            zoom: 0.95;
        }

        #resize-handle {
            width: 20px;
            height: 20px;
            background-color: #001ca7;
            position: absolute;
            bottom: 0;
            right: 0px;
            cursor: nwse-resize;
            /* Diagonal resize cursor */
            z-index: 9999999999999999999999999999999;
        }



        .informationcontent {
            min-height: 300px;
            background-color: #fff;
            position: relative;
            float: left;
            width: 100%;
        }



        #resizable-div {
            z-index: 9999999;
            position: relative;
            /* overflow: auto;  */
            min-width: 200px;
            min-height: 200px;
            width: 70%;


        }

        #editcontentbox {
            display: none;
        }



        .interedit {
            background-color: yellow !important;
            color: #000 !important;
        }

        .interedit p {
            color: #000;
        }

        #clearandrestart {
            background-color: #730000;
            color: #fff;
            text-align: center;
            cursor: pointer;
            border: 1px solid #ccc;
            border-bottom: 0px;
            width: auto;
            border-radius: 5px 5px 0px 0px;
            float: right; font-size: 80%;
        }

        #message2 {
            display: none;
            color: #730000;
            background-color: #fff;
        }

        #programming {
            border-right: 1px solid #666;
            width: 27%;
            margin-right: .5%;
            padding-bottom: 1%;
            padding-left: 0.5%;
            position: relative;

        }

        .width50c {
            width: 50%;
            float: left;
        }


        .width60c {
            width: 60%;
            float: left;
        }


        .width30 {
            width: 30%;
            float: left;
        }

        .width30c {
            width: 30%;
            float: left;
        }





        .width50c img {
            width: 75%;
            padding: 1%;
            padding-left: 10%;
            padding-top: 4%;
        }

        .width80c img {
            width: 100%;
        }

        .width60c img {
            width: 100%;
            padding: 1%;
        }




        .lister {
            display: none;
        }

        #list1 {
            display: block;
        }

        .promo30 {
            width: 35%;
            float: left;
            background-color: #fff;
            margin-right: 30px;
        }

        .width100c {
            width: 100%;
            float: left
        }

        .width20c {
            width: 20%;
            float: left
        }

        .width80c {
            width: 79% !important;
            float: left
        }

        .width20c img {
            width: 90% !important;
            padding: 1%
        }

        h2 {
            font-size: 26px !important;
            color: rgb(3, 70, 148) !important;
            margin-top: 20px;
            margin-bottom: 10px !important
        }


        #newlist {
            display: none;
        }





        @media only screen and (max-width:767px) {
            .width80c {
                width: 70%
            }

            .width20c {
                width: 30%
            }

            .width25c {
                width: 25% !important;
                float: left;
            }

            .width20c img {
                width: 98%
            }

            .width80c h2 {
                margin-top: 0
            }

            .width50c {
                width: 100%;
                float: left;
            }


            .width30c {
                width: 50%;
                float: left;
            }


        }


        #resize-handle {
            display: none;
        }

        .layoutpale {
            background-color: #ffc1c1;
            background-color: rgba(255, 193, 193, 0.1) !important;
            background-color: rgba(255, 255, 253, 0.5) !important;
            margin-top: 2px;
            margin-bottom: 2px;
            float: left;

            min-height: 50px;
            width: calc(50% - 3%) !important;
            margin-left: .5%;
            margin-right: .5%;
        }

        .layoutpale100 {
            width: 99% !important
        }

        .layoutpale50 {
            width: calc(50% - 3%) !important;
            margin-left: .5%;
            margin-right: .5%;
        }

        .layoutpale40 {
            width: calc(40% - 1%) !important;
            margin-left: .5%;
            margin-right: .5%;
        }

        .layoutpale60 {
            width: calc(60% - 1%) !important;
            margin-left: .5%;
            margin-right: .5%;
        }

        .layoutpale75 {
            width: calc(75% - 1.5%) !important;
            margin-left: .5%;
            margin-right: .5%;
        }


        .layoutpale80 {
            width: calc(80% - 3%) !important;
            margin-left: .5%;
            margin-right: .5%;
        }


        .layoutpale33 {
            width: calc(33% - .7%) !important;
            margin-left: .5%;
            margin-right: .5%;
            min-height: 56px
        }


        .layoutpale30 {
            width: calc(30% - 3%) !important;
            margin-left: .5%;
            margin-right: .5%;
            min-height: 58px
        }

        .layoutpale25 {
            width: calc(25% - 1%) !important;
            margin-left: .5%;
            margin-right: .5%;
            min-height: 58px
        }


        .layoutpale20 {
            width: calc(20% - 1%) !important;
            margin-left: .5%;
            margin-right: .5%;
            min-height: 56px
        }

        .width100 {
            width: 100%;
            float: left;
            text-align: left;
        }

        .width100c {
            width: 100%;
            float: left;
            text-align: left;
        }

        .width80c {
            width: 79% !important;
            float: left;
            text-align: left;
            min-height: 30px;
        }

        .width60c {
            width: 60%;
            float: left;
            text-align: left;
        }


        .width50c {
            width: 50%;
            float: left;
            min-height: 53px;
        }



        .width30c {
            width: 30%;
            float: left;
            text-align: left;
        }

        .width20c {
            width: 20%;
            float: left;
            text-align: left;
            min-height: 30px;
        }

        .width100c p a {
            color: #034694;
        }

        .width100c p {
            line-height: 24px;
            font-size: 1rem;
            font-weight: 400;
        }

        .width100c h2 {
            margin-top: 20px;
        }

        .width100c .pd-header-tag:first-of-type h2 {
            margin-top: 0px;
        }

        .width100c h2 {
            font-size: 1.5rem;
        }

        .width100c ul li {
            text-align: left;
            line-height: 28px;

        }

        .width100c img,
        .width80c img,
        .width60c img,
        .width50c img,
        .width40c img,
        .width30 img,
        .width20c img {
            width: 100%;
        }

        .width100c ul {
            padding-left: 1.8%;
            margin-left: 16px;
        }


        .width20c img {
            width: 90% !important;
            padding: 1%
        }


        .width50c img {
            width: 98%;
            padding: 1%;
            padding-left: 10%;
            padding-top: 4%;
            float: right;
        }

        .width80c img {
            width: 100%;
        }

        .width60c img {
            width: 100%;
            padding: 1%;
            max-width: 390px;
            float: right;
        }




        .width100c h2 {
            font-size: 24px !important;
        }

        strong.strongitalic {
            font-style: italic;
        }

        ul.width50c {
            padding: 0px;
            margin: 0px;
            width: 48%;
            padding-left: 2%;
        }


        @media only screen and (max-width:767px) {
            .width80c {
                width: 70%
            }

            .width20c {
                width: 30%
            }

            .width20c img {
                width: 98%
            }

            .width80c h2 {
                margin-top: 0
            }

            .width50c {
                width: 100%;
                float: left;
                min-height: 53px;
            }

            .width30c {
                width: 50%;
                float: left;
                text-align: left;
            }

            .width50c img {
                width: 98%;
                padding: 1%;
                padding-left: 0%;
                padding-top: 0%;
                float: right;
            }


        }

        .width100 {
            width: 100%;
            float: left;
            text-align: left;
        }

        .width100c {
            width: 100%;
            float: left;
            text-align: left;
        }

        .width80c {
            width: 80%;
            float: left;
            text-align: left;
        }

        .width60c {
            width: 60%;
            float: left;
            text-align: left;
        }


        .width50c {
            width: 48%;
            float: left;
            padding: 1%;
            padding-top: 0;
        }


        .width75c {
            width: 73%;
            float: left;

            padding-top: 0;
        }

        .width60c {
            width: 58%;
            float: left;

            padding-top: 0;
        }


        .width40c {
            width: 38%;
            float: left;
            text-align: left;

            padding-top: 0;
        }

        .width30c {
            width: 30%;
            float: left;
            text-align: left;
        }

        .width20c {
            width: 20%;
            float: left;
            text-align: left;
        }

        .width100c p a {
            color: #034694;
        }

        .width100c p {
            line-height: 24px;
            font-size: 1rem;
            font-weight: 400;
        }

        .width100c h2 {
            margin-top: 20px;
        }

        .width100c .pd-header-tag:first-of-type h2 {
            margin-top: 0px;
            margin-bottom: 15px;
        }

        .width100c h2 {
            font-size: 1.5rem;
        }

        .width100c ul li {
            text-align: left;
            line-height: 28px;
            margin-bottom: 10px;
            width: 94%;

        }

        .width100c img,
        .width80c img,
        .width75c img,
        .width60c img,
        .width50c img,
        .width40c img,
        .width30 img,
        .width20c img {
            width: 100%;
        }

        .width100c ul {
            padding-left: 1.8%;
        }


        .width20c img {
            width: 90% !important;
            padding: 1%
        }


        .width50c img {
            width: 90% !important;
            padding: 5%;
            padding-left: 5%;
            padding-top: 1%;
        }

        .width80c img {
            width: 100%;
        }

        .width60c img {
            width: 100%;
            padding: 1%;
            max-width: 390px;
            float: right;
        }





        .width100c h2 {
            font-size: 24px !important;
        }

        strong.strongitalic {
            font-style: italic;
        }

        ul.width50c {
            padding: 0px;
            margin: 0px;
            width: 48%;
            padding-left: 2%;
        }


        @media only screen and (max-width:767px) {
            .width80c {
                width: 70%
            }

            .width20c {
                width: 30%
            }

            .width20c img {
                width: 98%
            }

            .width80c h2 {
                margin-top: 0
            }

            .width50c {
                width: 50%;
                float: left;
            }

            .width50c2 {
                width: 100% !important;
                float: left;
            }

            .width30c {
                width: 50%;
                float: left;
                text-align: left;
            }

            .width50c img {
                width: 98%;
                padding: 1%;
                padding-left: 0%;
                padding-top: 0%;
                float: right;
            }



            ul.width30c,
            ul.width20c,
            ul.width50c {
                padding: 0px;
                margin: 0px;
                width: 48%;
                padding-left: 2%;
                margin-top: 0px;
                margin-bottom: 15px;
            }

            .width100c ul li {
                text-align: left;
                line-height: 28px;
                font-size: 0.87rem;
                margin-bottom: 16px;
            }

            .width100c h2 {
                font-size: 17px !important;
                margin-bottom: 15px;
            }

            ul.width50c {
                margin: 0px;
                padding: 1%;
                width: 49%;
                padding-left: 5%;
                margin-right: 1%;
            }

            .width33c {
                width: 33%;
                float: left;
            }
        }


        .addpadding0 {
            padding-top: 0px;
        }

        .addpadding10 {
            padding-top: 10px;
        }

        .addpadding20 {
            padding-top: 20px;
        }

        .addpadding30 {
            padding-top: 30px;
        }

        .addpadding40 {
            padding-top: 40px;
        }

        .addpadding60 {
            padding-top: 60px;
        }

        .addpadding80 {
            padding-top: 80px;
        }

        .addpadding100 {
            padding-top: 100px;
        }

        .width33ca {
            width: 33%;
            float: left;
        }

        .width33ca a {
            text-decoration: none;

        }

        .mymobile {
            display: none;
        }

        #mobilepreview2 {
            display: none;
        }




        #mobilepreview,
        #mobilepreview2 {
            color: #000;

        }

        #mobilepreview h2.t-h4-style,
        #mobilepreview2 h2.t-h4-style {
            font-size: 17px !important;

        }

        #mobilepreview .width50c2,
        #mobilepreview2 .width50c2 {
            width: 100%;
        }

        #showmobile2 {
            display: none;
        }



        .dropsection {
            width: 43%;
            float: left;
            margin-left: 1%;
            margin-right: 1%;
            margin-top: 1%;
            text-align: center;
            background-color: #333;
            color: #fff;
            padding: 1%;
            padding-left: 0px;
            padding-right: 0px;
            font-size: 68%;
            border: 1px solid yellow;
            cursor: pointer;
            z-index: 9999999999999999999999;
            border-radius: 3px;
        }

        .liverow {
            background-color: #999 !important;
        }

        .onblock {
            background-color: rgba(3, 70, 148, 0.4) !important;
        }

        .mymobile .width50c2 {
            width: 98% !important;
        }




        .mymobile .width100c .addpadding0 {
            padding-top: 0px;
        }

        .mymobile .width100c .addpadding10 {
            padding-top: 0px;
        }

        .mymobile .width100c .addpadding20 {
            padding-top: 0px;
        }

        .mymobile .width100c .addpadding40 {
            padding-top: 0px;
        }

        .mymobile .width100c .addpadding60 {
            padding-top: 0px;
        }

        .mymobile .width100c .addpadding80 {
            padding-top: 0px;
        }

        .mymobile .width100c .addpadding100 {
            padding-top: 0px;
        }


        ul,
        ol {
            width: 98% !important;
        }

        .textaligner,
        .textaligner3,
        .textaligner2,
        .textaligner5 {
            max-width: 100px;
            height: 30px;
            line-height: 30px;
        }
 
        .fullscreend {
            position: absolute !important;
            background-color: #333;
            z-index: 999999999999999;
            width: 24%;
            max-height: 669px;
            overflow-y: scroll;
            overflow-x: hidden;
            max-width: 400px;
            top: 60px;
        }

        .mymobile .informationcontent {
            min-height: 450px;
        }

        .internalscroller {
            width: 94.5%;
            margin-left: 0%;
            margin-right: 0.5%;
            max-height: 700px;
            position: relative;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .secondlauyout {
            background-color: transparent;
            color: #fff;
            border: 1px solid #f0cd97;
            color: #fff;
            padding: 5px;
            width: 45%;
            float: left;
            margin-right: 1%;
            font-size: 80%;
            margin-bottom: 5px;
        }


        .whattypeofimage {
            width: 31%;
            margin-right: 1%;
            background-color: transparent;
            border: 1px solid #fff;
            color: #fff;
            padding: 5px;
            border-radius: 10px 0px 10px 0px;
            font-size: 90%;
        }

        .whattypeofimage:hover {
            color: #fff;
            background-color: #333;
        }

        #mymatrix1,
        #mymatrix3 {
            display: none;
        }

        .openthematrix,
        .openthematrix2 {
            float: left;
            padding: 3px;
            padding-left: 7px;
            padding-right: 7px;
            background-color: #333;
            width: auto;
            color: #fff;
            margin-left: 10px;
            cursor: pointer;
            user-select: none;
            font-size: 0.7rem;
        }

        .openthematrix:first-of-type {
            margin-left: 2.2%;
        }

        .openthematrixopen {
            background-color: #f7f7f7;
            color: #333;

        }

        .myloadedimages {
            float: left;
            width: 14%;
            padding: 5px;
            min-height: 150px;
            position: relative;
            cursor: pointer;

        }

        .myloadedimages img {
            width: 100% !important;
        }

        .myloadedfilenames {
            font-size: 80%;
            overflow-wrap: break-word;
            display: none;
        }

        #blogproductlist {
            display: none;
            width: 56%;
        }

        #wraparoundproductnumber {
            display: none;
        }




        svg {
            width: 60%;
            max-height: 17px;
        }

        #mymatrix4 {
            display: none;
        }

        #loadedimagemessage {
            display: none;
        }

        .morebutt {
            border: 1px solid #f7f7f7;
            background-color: #f7f7f7;
            padding: 4px;
            padding-left: 5px;
            color: #000;
            font-size: 0.875rem;
        }

        .morebutt {
            border: 1px solid #f7f7f7;
            background-color: #fff;
            padding: 4px;
            padding-left: 5px;
            color: #000;
        }

        .makeit100now {
            width: 100% !important;
        }

        .makeit50now {
            width: 49% !important;
        }


        #showthepromotionalimage:hover {
            opacity: 0.8;
        }

        .showthepreviewimage:hover {
            opacity: 0.8;
        }

        .showthepreviewimage2:hover {
            opacity: 0.8;
        }


        #fullembedcodeddd {
            display: none;
        }


        #closeembed {
            border-left: none;
            font-size: 0.8rem;
            border-radius: 5px 0px 0px 0px;
            background-color: #ccc !important;
            color: #000 !important;
            -webkit-box-shadow: inset 0 0 10px 3px #191516;
            box-shadow: inset 0 0 3px 1px #191516;
            font-size: 69%;

        }

        .pcrcloseicon {
            float: right;
            margin-right: 1%;
            color: #00377b;
            cursor: pointer;
        }

        .pcrtitleclass {
            width: 90%;
            margin-left: 5%;
            margin-top: 15px;
            font-size: 1.6rem;
            padding-bottom: 20px;
            padding-top: 15px;
            background-color: #fff;
            float: left;

        }

        .pcrtitleclass:hover {
            background-color: #f7f7f7;
        }


        .texttype,
        .textaligner3,
        .textaligner5 {
            width: 9%;
            color: #fff;
            background-color: transparent;
        }

        .texttype:hover,
        .textaligner3:hover {
            background-color: #241E1E;
            color: #f7f7f7;
        }

        #mymatrix5,
        #mymatrix6,
        #mymatrix9 {
            display: none;
        }

        .width40c {
            width: 38%;
            min-height: 28px;
        }

        .layoutpale,
        .width100,
        .width80c,
        .width75c,
        .width60c,
        .width50c,
        .width40c,
        .width30c,
        .width33c,
        .width25c,
        .width20c,
        .width50c2 {
            min-height: 30px;

        }

        .width50c {
            min-height: 22px;
        }

        .addrow:hover,
        .addrow50:hover,
        .addrow25:hover,
        .dropsection:hover {
            opacity: 0.8;
        }

        #customModal,
        #urlModal,
        #myModalcontent {
            z-index: 99999999999999;
            position: absolute;
        }

        .secondmodal {
            width: 32%;
            border: 1px solid #333;
            font-size: 100%;
        }

        .internalbuttons {
            display: none;
        }


        .icon_box {
            width: 30px;
            height: 30px;
            float: left;
            margin-right: 5px;
            background-image: url(pim-content/faq_Icon.svg?$staticlink$);
            background-repeat: no-repeat;
            background-size: contain;
            margin-top: 0px;
            background-image: url(https://www.pcrichard.com/on/demandware.static/-/Library-Sites-PCRichardSharedLibrary/default/dw21bf9b9d/pim-content/faq_Icon.svg);
        }

        .colorlegend {
            display: none;
            background-color: #333;
            color: #fff;
            font-weight: bold;
            margin-top: -21px;
        }

        .mytoolsboxtop {
            text-align: center;
            cursor: pointer;
            border: 1px solid #ccc;
            border-bottom: 0px;
            margin-right: 2% !important;
            border-radius: 5px 5px 0px 0px;
            background-color: #fff;
            color: #333;
            width: auto !important;
            padding-left: 10px;
            padding-right: 10px;
        }

        .mytoolsboxtop2 ,.mytoolsboxtop3 {
            text-align: center;
            cursor: pointer;
            border: 1px solid #ccc;
            border-bottom: 0px;
            margin-right: 1%;
            border-radius: 5px 5px 0px 0px;
            background-color: #333;
            color: #fff;
            width: auto !important;
            padding-left: 5px;
            padding-right: 5px;
        }


        .internalscroller,
        #myhtmleditor,
        .toolboxhide,
        #layoutbuilder-oc,
        .layoutbuilder-oc,
        .layoutbuilder-oc2 {
            display: none;
        }

        .toolboxhide,
        #myhtmleditor {
            display: block;
        }

        @media only screen and (max-width:1500px) {
            button {
                font-size: 0.7rem !important;
            }

            .dropsection {
                font-size: 77%;
                width: 92%;
            }

            .width25c span {
                font-size: 0.6rem;
            }

            input {
                font-size: 0.7rem;
            }

            .textaligner2 {
                width: 50%;
            }

            .clearsection {
                width: 40%;
            }

            p,
            textarea {
                font-size: 0.7rem;
            }

            #colorswatch2 {
                width: 20%;
            }

            #colorswatch2 {
                width: 97% !important;
                padding-bottom: 29px;
                padding-top: 5px;
            }

            #cinput1-clickh2-comp {
                width: 100% !important;
            }

            .ipsom {
                width: 47% !important
            }

            .promo50 {
                width: 100%;
                float: left;
                font-size: 0.8rem;
            }

            #selectionclear,
            .clearsection,
            .deletecode,
            .deleterow {
                width: 94% !important;
            }

            .secondlauyout {
                width: 47.5% !important;
                margin-top: 5px;
            }

            .spanbutton {
                width: 99% !important;
                margin-top: 12px;
                margin-left: 2%;
            }

            .span50small {
                width: 50% !important;
            }

            .span50small button {
                line-height: 25px;
            }

            #mylistamount {
                width: 90% !important;
            }

            #listsubmit {
                width: 84%;
                float: left !important;
            }


        }


        .myregd::after {
            content: "\00AE";
        }

        .mytraded::after {
            content: "\2122";
        }

        #driveContents ul {
            margin-bottom: 30px;
            font-size: 88%
        }

        #sidetoolset {
            opacity: 0;
        }

        #driveContents .width33ca ul li {
            margin-bottom: 0px;
        }


        #urlmodel-internal {
            background: #333;
                padding: 20px;
                color: #fff;
                border-radius: 5px;
                width: 430px;
                position: fixed;
                top: 44%;
                left: 54%;
                transform: translate(-50%, -50%); 
        }
        
        #customModal-internal {
            background: #333;
                color: #fff;
                padding: 20px;
                border-radius: 5px;
                width: 36%;
                position: fixed;
                top: 45%;
                left: 53.7%;
                transform: translate(-50%, -50%);  
        }
        
        #fullinterface {
            width: 100%; margin-left: 0%; margin: 0%; padding: 0px;
        }
        
        #programming {
            padding-top: 20px; 
        }
        
        #selectionclear {
            color: #730000; background-color: #fff;  padding: 5px; width: 48%; font-size: 80%;
        }
        
        #addrow2x8 ,  #addrow1x1 , #addrow2x2 , #addrow4x6 , #addrow4x6a , #addrow2x7 , #addrow3x3 , #addrow4x4 {
            padding-top: 8px;padding-bottom: 8px;width: 46.5%;   
        }
        
        #colorswatch2 {
            float: left; width: auto; height: 27px; background-color: #034694; text-align: center; color: rgb(255, 255, 255); font-size: 67%; border: 2px solid rgb(255, 255, 255); margin-right: 10px;
        }
        
        #cinput1-clickh2-comp {
            float: right; margin-right: 10px;width: 100%; font-size: 67%;padding-bottom: 5px;background-color: transparent; color: #fff; border: 1px solid #ccc; padding-top: 6px; 
        }
        
        #cinput3a {
            max-width: 98%; min-width: 50%;    
        }
        
        .ipsom {
            width: 20%; float: left; margin-right: 1%;  font-size: 65%; padding-top: 5px; padding-bottom: 5px; border: 1px solid #f0cd97; background-color: transparent; color: #fff; 
        }
        
        #cinput3-comp {
            float: right; margin-right: 10px;width: 37%; float: right; margin-right: 1%;font-size: 80%;padding-bottom: 5px;background-color: transparent; color: #fff; border: 1px solid #ccc; padding-top: 6px; 
        }
        
        #wraparoundsubmit {
            margin-top: 10px; border: 1px solid #ccc; background-color: transparent;float: right; color: #fff; padding: 5px; margin-right: 2%; 
        }
        
        #clicktoloadlocalfiles {
            float: right;   background-color: transparent; padding: 5px; color: #fff; margin-right: 3%; border: 1px solid #ccc; margin-top: 10px; font-size: 80%; padding-left: 10px; padding-right: 10px;
        }
        
        #listsubmit {
            float: right; margin-right: 0px; background-color: #334; color: #fff; padding: 10px;
        }
        
        #newlist {
            float: left; margin-right: 10px; margin-left: 18.5%; background-color: #730000; color: #fff;  
        }
        
        #submitvideofile {
            margin-top: 15px; float: right; margin-right: 30px; color: #fff; border: 1px solid #ccc; background-color: transparent; padding: 10px; 
        }
        
        #message2 {
            text-align: center; font-weight: bold; margin-left: 0px;
        }
        
        #myhtmleditor {
            width: 94%; min-width: 94%; background-color: #000; color: #fff; margin-left: 2%; margin-bottom: 5px; min-height: 300px; max-width: 94%; max-height: 400px;  
        }
        
        #editmode {
            width: 10px; zoom: 2; margin-top: 0px; float: left; display: none;
        }
        
        #hamburger {
            width: 30px; height: 30px; float: left; cursor: pointer; display: none;
        }
        
        #mymatrix6 {
            width: 94%; margin-left: 4%; border-top: 4px solid #fff;  
        }
        
        #mes1 {
            text-align: left; padding-top: 10px; margin-bottom: 10px; background-color: #334; margin-bottom: 0px; border-bottom: 1px solid #ccc;  width: 100%; padding-bottom: 5px; text-align: center;  
        }


        #mes2 {
            margin-top: 10px;
            padding: 10px;
            padding-right: 10px;
            margin-right: 0%;
            padding-left: 0px;
            width: 92%; display: none;
        }

        #mes3 {
            width: 100%;  padding-bottom: 1%;  display: block;margin-left: 3%;
        }
        
        #driveContents {
            background-color: #334; width: 100%;float: left; position: relative; 
        }
        
        
        #closetutorial2 {
            background-color: #001ca7; text-align: center; color: #fff; cursor: pointer;  
        }
        
        #pullthecode2 {
            background-color: #fff;
            color: #000;
            max-width: 96%;
            min-height: 439px;
            width: 65%;
            margin-left: 1%;
            margin-top: 0px;
            margin-bottom: 15px;
            max-height: 800px;
            position: relative;
            overflow: auto;
            padding-top: 10px;   
        }
        
        #beautycode {
            width: 90.2%; padding: 1.5%; margin-left:4%; min-height: 533px; background-color: #000; color: #fff; border-top: 4px solid #fff;    
        }
        
        
        #fullembedcodeddd {
            width: 100%; min-height: 500px; background-color: #333; position: relative; float: left;   
        }


        #layoutbuilder-oc2 {
            margin-left: 3.3%; width: 90% !important; margin-bottom: 0px; display: block ;
        }

        #addrow {
            background-color: #001ca7;
            color: #fff;
            width: 92%; margin-right: 2%;
            line-height: 25px; float: left;
            margin-bottom: 8px;
        }

        #linkmaker {
            padding: 6px; margin-left: 15px; padding-bottom: 3px; font-size: 80%; border: 1px solid #ccc; background-color: transparent; color: #fff; 
        }

        #textaligner2 {
            margin-top: 6px;
            width: 24%;
            font-size: 74%;
            max-width: none;
            min-height: 30px;
            text-align: center; background-color: #333; color: #fff;
        }

        #linkmaker2 {
            padding: 6px; margin-left: 15px; padding-bottom: 3px; font-size: 80%; border: 1px solid #ccc; background-color: transparent; color: #fff;
        }

        #layoutbuilder-oc {
            width: 90% !important;
            margin-left: 3%;
        }

.hidescripts {
    display: none;
}











        .selectedtand {
         background-color: #f7f7f7 !important;
         padding: 10px;
         margin-bottom: 10px;
        }

                 
        #codeloaderpcrview div.selectedtand {
          /*  background-color: #f7f7f7 !important; */
            border: none;
        }


        .mymobile div.selectedtand {
        /*   background-color: #f7f7f7 !important; */
           
        }


        .clampclassd {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            line-height: 1.5em; /* Adjust based on your design */
            max-height: 4.5em;
        }

        p.expanded  {
            /* Show full text when expanded */
            -webkit-line-clamp: unset;
            max-height: none;
        }

        .readmoreclampdbutton {
            border: none;
            padding: 0px;
            padding-right: 15px;
            background-color: transparent;
            cursor: pointer;
            text-align: right;
            float: right;
            margin-top: -11px;
            font-size: 0.875rem;
        }

        .readmoreclampdbutton:hover {
            border: none;
            padding: 0px;
            padding-right: 15px;
            background-color: transparent;
            cursor: pointer;
            text-align: right;
            float: right;
            margin-top: -11px;
            font-size: 0.875rem;
        }

        .advanced-Buttons {
            text-align: center;
            font-size: 0.8rem;
            cursor: pointer;
            background-color: #242424;
            width: 45%;
            margin-left: 1.5%;
            margin-right: 1%;
            float: left;
            margin-top: 5px;
        }


/* Style for the item that triggers the popup */
.hover-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
  }
  
  /* Style for the popup itself */
  .popup {
    position: absolute;
    left: 100%; /* Adjust as needed */
    top: 0;
    margin-left: 12px; /* Space between the item and the popup */
    width: 200px; /* Adjust as needed */
    padding: 10px;
    padding-bottom: 0px;
    background-color: #333;
    z-index: 1; /* Ensure it's on top of other elements */
    opacity: 0; /* Start fully transparent */
    transition: opacity 0.5s ease-in-out; /* Smooth transition for the opacity */
    visibility: hidden;
    border-radius: 0px 15px 15px 0px;
    padding-top: 0px;
  }
  
  /* Hidden class */
  .hidden {
    display: none;
  }
  
  /* Visible class */
  .visible {
    visibility: visible;
    opacity: 1;
  }

  .mymobile .nomar {
    margin-top:2px !important
  }

  .mymobile .hideonlyonmobile {
    display: none;
  }
  
  #pullthecode2 .hideonlyondesktop {
    opacity: .3;
  }

  #codeloaderpcrview .hideonlyondesktop  {
    display: none;
  }

  .interedit {
    background-color: rgba(255, 255, 0, 0.3) !important;
  }

  textarea {
    width: 100%;
    min-height: 200px;
  }

  #RowBackgroundColorlist {
    width: 97% !important;
    margin-right: 2%;
  }

  @media only screen and (max-width:500px) {
  .nomar {
    margin-top:0px !important
}
  }

        /* Mac Version March 24th */


        